# Ignore useless files
.DS_Store
.idea/
.vscode/
coverage/

# Ignore bundler configs
/.bundle
/vendor/bundle

# Ignore potentially dangerous files/folders
.git
.byebug_history

# Ingore the ignores
.gitignore
.dockerignore

# Ignore the dockerfile
Dockerfile

# Ignore decryption keys
**/*.key
# Except for the dev/test one, which doesn't matter
!/config/master.key

# Ignore log and tmp files.
/log
/tmp
yarn-error.log
yarn-debug.log
.yarn-integrity

# Ignore build artifacts
/app/assets/builds/*
/node_modules/*
/public/assets/*
